.header {
    width: 100%;
    padding-top: 30px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px;
}

.btn-header {
    font-family: 'PunishSinnerHorror';
    font-size: 4em;
    letter-spacing: 0.07em;
    color: #a50000;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.btn-header:hover {
    color: #fff7d6;
    text-shadow:
        0 0 5px  #a50000,
        0 0 12px #a50000,
        0 0 25px #ff5e00;
}

.logo {
    font-family: 'GamePaused';
    font-size: 3em;
    letter-spacing: 0.07em;
    line-height: 1;
    color: #fff7d6;
    text-transform: uppercase;

    text-shadow:
        0 0 2px  #fff,
        0 0 5px  #ffcc41,
        0 0 12px #ffcc41,
        0 0 25px #ffb300,
        0 0 50px #ff8c00;
}