@import "header.css";
@import "main.css";
@import "grid.css";

/* ============ RESET ============ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/*============ FONTS ==========*/

@font-face {
    font-family: 'PunishSinnerHorror';
    src: url('../fonts/PunishSinnerHorror.woff2') format('woff2'),
        url('../fonts/PunishSinnerHorror.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GamePaused';
    src: url('../fonts/GamePaused.woff2') format('woff2'),
        url('../fonts/GamePaused.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}